<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>

    <div class="white-bg">
        <% for(let i = 0; i < post.length; i++) { %>
            <% let addr = 'post[i]._id' %>
            <div class="list-box">
              <h4><a href="/detail/<%= post[i]._id %>" ><%= post[i].title %></a></h4>
              <span class="delete" data-id="<%= post[i]._id%>">π—‘οΈ</span>
              <p><%= post[i].content %></p>
            </div>
        <% } %>

    </div> 

    <script>      
        for(let i = 0; i < '<%= post.length %>'; i++)
        {
            document.querySelectorAll('.delete')[i]
            .addEventListener('click', function(e){
                fetch('/abc', {
                    method: 'delete',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ _id: e.target.dataset.id })
                })
                .then((r)=>r.text())
                .then((r)=>{console.log(r)})
            })
        }

        // μμ™Έμ²λ¦¬
        fetch('/URL')
        .then((r) => {
            if(r.status == 200)
                return r.json() // Array or Object ν•μ„ λ°›μ„λ• μ“°λ” ν•¨μ
            else
            {
                // μ„λ²„κ°€ μ—λ¬μ½”λ“ μ „μ†΅μ‹ μ‹¤ν–‰ν•  μ½”λ“
            }
        })
        .then((result) => {
            // μ„±κ³µ μ‹, μ‹¤ν–‰ν•  μ½”λ“
        })
        .catch((err)=>{
            // μΈν„°λ„· λ¬Έμ  λ“±μΌλ΅ μ‹¤ν¨ μ‹, μ‹¤ν–‰ν•  μ½”λ“
            console.log(err);
        })
    </script>
  
  </body>
</html>